*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.c {
  background-color: '#0000';
  color: '#0000';
  color: '#aff1c7';
  color: '#82eba7';
  color: '#5fe58c';
  color: '#4ae27b';
  color: '#3ee071';
  color: '#31c760';
  color: '#27b154';
  color: '#16a34a';
}
